<div class="post">
    <div class="post-image">
        <img src="{{ app.request.basepath }}/res/images/{{ post.getImage() }}" />
    </div>
    <div class="post-title">
        <h1>{{ post.getTitle() }}</h1>
    </div>
    <div class="separator"></div>
    <div class="post-content">
        <p>{{ post.getContent() }}</p>
    </div>
    <div class="post-footer">
        <span>{{ post.getTitle() }} : Post n°{{ post.getIdPost() }}</span>
        <span>Posté le : {{ post.getPostDate() }}</span>
    </div>
</div>