<div class="collection-item avatar z-depth-2">
    <a class="post-link" href="{{ app.url_generator.generate("{idPost}", { 'idPost' : post.getIdPost() }) }}"></a>
    <img src="{{ app.request.basepath }}/res/images/{{ post.getImage() }}" alt="" class="circle">
    <span class="title">{{ post.getTitle() }}</span>
    <p class="item-date">{{ post.getPostDate() }}</p>
    {% if userInfo["isAdmin"] %}
        <a href="{{ app.url_generator.generate("edit/{idPost}", { 'idPost' : post.getIdPost() }) }}" class="edit-link">
            <i class="material-icons">edit</i>
        </a>
        <a href="{{ app.url_generator.generate("remove/{idPost}", { 'idPost' : post.getIdPost() }) }}" class="remove-link">
            <i class="material-icons">close</i>
        </a>
    {% endif %}
</div>



