{% extends 'layout.twig' %}
{% block body %}
    <div class="main-page-centered">
        <form action="{{ app.url_generator.generate("savePost") }}" method="post" class="post" enctype="multipart/form-data">
            <input name="postID" title="postID" type="number" value="{{ post.getIDPost() }}" hidden>
            <div class="input-container">
                <label class="label-title">Titre : </label>
                <input class="create-post-title" name="title" type="text" placeholder="Titre du post..."
                                                                          value="{{ post.getTitle() }}" required>
            </div>
            <div class="input-container">
                <label class="label-textarea">Contenu : </label>
                <textarea class="create-post-textarea materialize-textarea" name="content" title="content"
                          placeholder="Votre post..." required >{{ post.getContent() }}</textarea>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Photo</span>
                    <input type="file" name="picture">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" name="picture_name" title="picture_name"
                           placeholder="Choisissez une image" value="{{ post.getImage() }}" >
                </div>
            </div>

            <input type="submit" name="submit" class="waves-effect waves-light btn create-post-submit"
                {% if post.getTitle() == "" %}
                    value="Créer le post"
                {% else %}
                    value="Modifier le post"
                {% endif %}
            >
        </form>
    </div>
{% endblock %}