<nav>
    <div class="nav-wrapper">
        <a href="{{ app.url_generator.generate('home') }}" class="brand-logo">Le blog d'otis, scribe de père en fils</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if page != "homepage" %}
                <li><a href="{{ app.url_generator.generate("home") }}" class="waves-effect waves-light btn">Page principale</a></li>
            {% endif %}
            {% if page != "posts" and page != "auth" and page != "subscribe" %}
                <li><a href="{{ app.url_generator.generate("allPostsList") }}" class="waves-effect waves-light btn">Liste des Articles</a></li>
            {% endif %}
            {%  if userInfo["isConnected"] == true %}
                <li><a href="{{ app.url_generator.generate("logout") }}" class="waves-effect waves-light btn">Se Déconnecter<i class="material-icons right">exit_to_app</i></a></li>
            {% else %}
                <li><a href="{{ app.url_generator.generate('login') }}" class="waves-effect waves-light btn">Se connecter<i class="material-icons right">assignment_ind</i></a></li>
                <li><a href="{{ app.url_generator.generate('subscribe') }}" class="waves-effect waves-light btn">S'inscrire<i class="material-icons right">assignment</i></a></li>
            {% endif %}
        </ul>
    </div>

    {% if userInfo["isAdmin"] %}
        <div class="fixed-action-btn horizontal">
            {% if page != "post" %}
                <a href="{{ app.url_generator.generate("createPost") }}" class="btn-floating btn-large waves-effect waves-light">
                    <i class="large material-icons">add</i>
                </a>
            {% elseif page != "editPost" %}
                <div class="floating-container">
                    <a href="{{ app.url_generator.generate("remove/{idPost}", {"idPost" : post.getIdPost()}) }}" class="btn-floating btn-large red waves-effect waves-light">
                        <i class="large material-icons">remove</i>
                    </a>
                    <a href="{{ app.url_generator.generate("edit/{idPost}", {"idPost" : post.getIdPost()}) }}" class="btn-floating btn-large waves-effect waves-light">
                        <i class="large material-icons">edit</i>
                    </a>
                </div>
            {% endif %}
        </div>
   {% endif %}
</nav>

